



<p style="text-size:.5em;color:grey;float:right;margin: 5px;">Small</p>



<!-- <div class="content-box">
	
<button type="button" ng-click="app.showSelect()" style="color:black;">{{views}}</button>


	<div class="content">
	<div ng-show="views.bind" class="content">
		<input type="text" class="input-bg" ng-model="app.yourName" placeholder="{{ 'enterName' | translate }}" auto-focus>
	</div>

	<div class="content">
	<div ng-show="views.filter" class="content">
		2015-10-05 | fullDate<br>{{'isFilteredTo' | translate}}: {{ '2015-10-05' | date:'fullDate' }}<br>
		123456 | currency<br>{{'isFilteredTo' | translate}}: {{ 123456 | currency }}<br>
		<br>{{ page.title }}
		98765.4321 | number<br>{{'isFilteredTo' | translate}}: {{ 98765.4321 | number }}<br>

	</div>

	<div class="content">
	<div ng-show="views.update" class="content">
		{{'editDateFormat' | translate}}: <input ng-hide="disable" ng-model="format"><span ng-show="disable">Editing temporarily disabled</span> <br/>
		{{'currentTimeIs' | translate}}:<br> <span current-time="format"></span>
	</div>

	<div class="content">
	<div ng-show="views.task" class="content">
		<h2 ng-show="disable">Tasks Disabled</h2>
		<div ng-show="show" class="tasks" ng-hide="disable">
			<span>{{app.remaining()}} {{'of' | translate}} {{app.todos.length}} {{'remaining' | translate}}</span>
			[ <a href="" class="red" ng-click="app.clear()">{{'remove done items' | translate}}</a> ]

			<ul class="unstyled">
				<div ng-show="show" ng-repeat="todo in app.todos">
					<label class="done-{{todo.done}}">
						<input type="checkbox" ng-model="todo.done">
					{{todo.text}}</label>
				</div>
			</ul>

			<form ng-submit="app.addTodo()">
				<input type="text" class="input-bg" ng-model="app.todoText" size="30" placeholder="{{'addNewTaskHere' | translate}}" focus-bool="focusFocus">
				<input type="submit" value="{{'ADDTASK' | translate}}" ng-click="focusFocus=true">
			</form>
		</div>
	</div>

	<div class="content">
	<div ng-show="views.locale" class="content">
	{{'chooseLanguage' | translate}}: 
		<select ng-model="choice" 
				ng-change="app.chooseLanguage(choice)" 
				data-ng-options="choice for choice in languages">
			<option value="" selected>Select Language</option>GIT
		</select>
	</div>



</div> -->
















