<% include ../assets/partials/header.ejs %>


<!-- ANGULAR EXAMPLE: BIND -->
<h1>Node Site Template</h1>	
<hr>
<input type="text" ng-model="yourName" placeholder="Enter your name here!">
<h1>Hello, {{yourName}}</h1>




<!-- ANGULAR EXAMPLE: TODO LIST -->
<h2>Angular Todo App</h2>

<div ng-controller="TodoListController as app">
	<span>{{app.remaining()}} of {{app.todos.length}} remaining</span>
	[ <a href="" ng-click="app.clear()">CLEAR</a> ]

	<ul class="unstyled">
		<li ng-repeat="todo in app.todos">
			<input type="checkbox" ng-model="todo.done">
			<span class="done-{{todo.done}}">{{todo.text}}</span>
		</li>
	</ul>

	<form ng-submit="app.addTodo()">
		<input type="text" ng-model="app.todoText" size="30" placeholder="...add new task here">
		<input type="submit" value="ADD">
	</form>
</div>































<% include ../assets/partials/footer.ejs %>
