<% include ./partials/header.ejs %>
	

<!-- ANGULAR EXAMPLE: DIRECTIVE WIRING -->
<!-- ANGULAR EXAMPLE: BIND -->
<!-- ANGULAR EXAMPLE: FILTERS -->
<!-- ANGULAR EXAMPLE: UPDATING WITH $interval and $watch -->
<!-- ANGULAR EXAMPLE: TODO LIST -->

<tabs class="panels">	<!-- THE tabs ELEMENT IS REPLACED BY ELEMENTS IN .directive "tabs" -->

	<pane title="{{ 'BIND' | translate }}" class="content">	<!-- THE pane ELEMENT IS REPLACED BY ELEMENTS IN .directive "pane" -->
		<input type="text" class="input-bg" ng-model="app.yourName" placeholder="{{ 'enterName' | translate }}" auto-focus>
	</pane>

	<pane title="{{ 'FILTER' | translate }}" class="content">
		2015-10-05 {{'isFilteredTo' | translate}}: {{ '2015-10-05' | date:'fullDate' }} {{'using' | translate}} 'fullDate' filter<br>
		123456 {{'isFilteredTo' | translate}}: {{ 123456 | currency }}  {{'using' | translate}} 'currency' filter<br>
		98765.4321 {{'isFilteredTo' | translate}}: {{ 98765.4321 | number }} {{'using' | translate}} 'number' filter<br>
	</pane>

	<pane title="{{ 'UPDATE' | translate }}" class="content">
		{{'editDateFormat' | translate}}: <input ng-hide="disable" ng-model="format"><span ng-show="disable">Editing temporarily disabled</span> <br/>
		{{'currentTimeIs' | translate}}: <span current-time="format"></span>
	</pane>

	<pane title="{{ 'TASK' | translate }}" class="content">
		<h2 ng-show="disable">Tasks Disabled</h2>
		<div ng-hide="disable">
			<span>{{app.remaining()}} {{'of' | translate}} {{app.todos.length}} {{'remaining' | translate}}</span>
			[ <a href="" class="red" ng-click="app.clear()">{{'remove done items' | translate}}</a> ]

			<ul class="unstyled">
				<li ng-repeat="todo in app.todos">
					<label class="done-{{todo.done}}">
						<input type="checkbox" ng-model="todo.done">
					{{todo.text}}</label>
				</li>
			</ul>

			<form ng-submit="app.addTodo()">
				<input type="text" class="input-bg" ng-model="app.todoText" size="30" placeholder="{{'addNewTaskHere' | translate}}" focus-bool="focusFocus">
				<input type="submit" value="{{'ADDTASK' | translate}}" ng-click="focusFocus=true">
			</form>
		</div>
	</pane>

	<pane title="{{ 'LOCALE' | translate }}" class="content">
	{{'chooseLanguage' | translate}}:
		<select ng-model="choice" 
				ng-change="app.chooseLanguage(choice)" 
				data-ng-options="choice for choice in languages">
			<option value="" selected>Select Language</option>GIT
		</select>
	</pane>

</tabs>


<!-- <button ng-click="clickConnect('Imgur')" class="btn">Imjur</button>
<div ng-show="me">
    <p>Successfully connected with {{provider}}</p>
    <p>Hello {{me.name}}</p>
</div> -->






















<% include ./partials/footer.ejs %>
