<% include ./partials/header.ejs %>
	

<!-- ANGULAR EXAMPLE: DIRECTIVE WIRING -->
<!-- ANGULAR EXAMPLE: BIND -->
<!-- ANGULAR EXAMPLE: FILTERS -->
<!-- ANGULAR EXAMPLE: UPDATING WITH $interval and $watch -->
<!-- ANGULAR EXAMPLE: TODO LIST -->


<tabs class="panels" ng-show="{{hideForSmallView}}">	<!-- THE tabs ELEMENT IS REPLACED BY ELEMENTS IN .directive "tabs" -->

<button type="button" ng-hide="{{test}}" ng-click="app.testFunction()">Abra Cadabra!</button>

	<page title="{{ 'BIND' | translate }}" class="content">	<!-- THE page ELEMENT IS REPLACED BY ELEMENTS IN .directive "page" -->
		<div ng-show="test">
		<input type="text" class="input-bg" ng-model="app.yourName" placeholder="{{ 'enterName' | translate }}" auto-focus>
		</div>
	</page>

	<page title="{{ 'FILTER' | translate }}" class="content">
		2015-10-05 | fullDate<br>{{'isFilteredTo' | translate}}: {{ '2015-10-05' | date:'fullDate' }}<br>
		123456 | currency<br>{{'isFilteredTo' | translate}}: {{ 123456 | currency }}<br>
		<br>{{ page.title }}
		98765.4321 | number<br>{{'isFilteredTo' | translate}}: {{ 98765.4321 | number }}<br>

	</page>

	<page title="{{ 'UPDATE' | translate }}" class="content">
		{{'editDateFormat' | translate}}: <input ng-hide="disable" ng-model="format"><span ng-show="disable">Editing temporarily disabled</span> <br/>
		{{'currentTimeIs' | translate}}:<br> <span current-time="format"></span>
	</page>

	<page title="{{ 'TASK' | translate }}" class="content">
		<h2 ng-show="disable">Tasks Disabled</h2>
		<div class="tasks" ng-hide="disable">
			<span>{{app.remaining()}} {{'of' | translate}} {{app.todos.length}} {{'remaining' | translate}}</span>
			[ <a href="" class="red" ng-click="app.clear()">{{'remove done items' | translate}}</a> ]

			<ul class="unstyled">
				<div ng-repeat="todo in app.todos">
					<label class="done-{{todo.done}}">
						<input type="checkbox" ng-model="todo.done">
					{{todo.text}}</label>
				</div>
			</ul>

			<form ng-submit="app.addTodo()">
				<input type="text" class="input-bg" ng-model="app.todoText" size="30" placeholder="{{'addNewTaskHere' | translate}}" focus-field="focusFocus">
				<input type="submit" value="{{'ADDTASK' | translate}}" ng-click="focusFocus=true">
			</form>
		</div>
	</page>

	<page title="{{ 'LOCALE' | translate }}" class="content">
	{{'chooseLanguage' | translate}}: 
		<select ng-model="choice" 
				ng-change="app.chooseLanguage(choice)" 
				data-ng-options="choice for choice in languages">
			<option value="" selected>Select Language</option>GIT
		</select>
	</page>

</tabs>


<!-- <button ng-click="clickConnect('Imgur')" class="btn">Imjur</button>
<div ng-show="me">
    <p>Successfully connected with {{provider}}</p>
    <p>Hello {{me.name}}</p>
</div> -->






















<% include ./partials/footer.ejs %>
