<% include ./partials/header.ejs %>
	

<!-- ANGULAR EXAMPLE: DIRECTIVE WIRING -->
<!-- ANGULAR EXAMPLE: BIND -->
<!-- ANGULAR EXAMPLE: FILTERS -->
<!-- ANGULAR EXAMPLE: UPDATING WITH $interval and $watch -->
<!-- ANGULAR EXAMPLE: TODO LIST -->

<tabs class="panels">	<!-- THE tabs ELEMENT IS REPLACED BY ELEMENTS IN .directive "tabs" -->

	<pane title="BINDING" class="content">	<!-- THE pane ELEMENT IS REPLACED BY ELEMENTS IN .directive "pane" -->
		<input type="text" ng-model="app.yourName" placeholder="Enter your name here!">
	</pane>

	<pane title="FILTERS" class="content">
		2015-10-05 is filtered to: {{ '2015-10-05' | date:'fullDate' }} with 'fullDate'<br>
		123456 is filtered to: {{ 123456 | currency }}  with 'currency'<br>
		98765.4321 is filtered to: {{ 98765.4321 | number }} with 'number'<br>
	</pane>

	<pane title="UPDATING" class="content">
		EDIT DATE FORMAT: <input ng-hide="disable" ng-model="format"><span ng-show="disable">Editing temporarily disabled</span> <br/>
		CURRENT TIME IS: <span current-time="format"></span>
	</pane>

	<pane title="TASK LIST" class="content">
		<h2 ng-show="disable">Tasks Disabled</h2>
		<div ng-hide="disable">
			<span>{{app.remaining()}} of {{app.todos.length}} remaining</span>
			[ <a href="" ng-click="app.clear()">CLEAR</a> ]

			<ul class="unstyled">
				<li ng-repeat="todo in app.todos">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			</ul>

			<form ng-submit="app.addTodo()">
				<input type="text" ng-model="app.todoText" size="30" placeholder="...add new task here">
				<input type="submit" value="ADD TASK">
			</form>
		</div>
	</pane>

</tabs>


<button ng-click="clickConnect('Imgur')" class="btn">Imjur</button>
<div ng-show="me">
    <p>Successfully connected with {{provider}}</p>
    <p>Hello {{me.name}}</p>
</div>




























<% include ./partials/footer.ejs %>
