<% include ./partials/header.ejs %>
<ul class="nav nav-tabs"><!-- USING BOOTSTRAP TAB STRUCTURE -->
	<div ng-repeat="(key,val) in views track by $index" ng-class="{active:val}">
		<a href="" ng-click="app.tabFunction(key)" ng-bind="key"></a>
	</div> 
</ul> 

<div class="tab-content">
	<div title="HOME" class="tab-pane" ng-class="{active : views.HOME}">






	</div>

	<div title="FILTER" class="tab-pane" ng-class="{active : views.FILTER}">
		<div class="content-position">
			2015-10-05 | fullDate<br>is filtered to: {{ '2015-10-05' | date:'fullDate' }}<br>
			123456 | currency<br>is filtered to: {{ 123456 | currency }}<br>
			<br>{{ page.title }}
			98765.4321 | number<br>is filtered to: {{ 98765.4321 | number }}<br>
		</div>
	</div>

	<div title="UPDATE" class="tab-pane" ng-class="{active : views.UPDATE}">
		<div class="content-position">
			Edit Date Format: <input ng-model="format"> <br/>
			Current time is:<br> <span current-time="format"></span>
		</div>
	</div>

	<div title="TASK" class="tab-pane" ng-class="{active : views.TASK}">
		<div class="content-position">
			<span>{{app.remaining()}} of {{app.todos.length}} remaining</span>
			[ <a href="" class="red" ng-click="app.clear()">Remove done items</a> ]

			<ul class="unstyled">
				<div ng-repeat="todo in app.todos">
					<label class="done-{{todo.done}}">
						<input type="checkbox" ng-model="todo.done">
						{{todo.text}}
					</label>
				</div>
			</ul>

			<form ng-submit="app.addTodo()">
				<input type="text" class="input-bg" ng-model="app.todoText" size="30" placeholder="Add task here" focus-field="focusFocus">
				<button type="submit">Add Task</button>
			</form>
		</div>
	</div>

	<div title="API" class="tab-pane" ng-class="{active : views.API}">
		<div class="map-wrapper"><div id="map"></div></div>
	</div>
</div>

<% include ./partials/footer.ejs %>
