/*CSS File*/

body {
	background: black;
	padding: 10px;
}

body section {
	text-align: center;
	color: #fff6b7;
}

body h1 {
	color: #30659b;
}

body input {
	color: #30659b;
}



.nav-tabs{										/*NON-SELECTED TAB*/
	background-color: #000000;
	border: none;
}
.tab-content{									/*PANEL BOX*/
    background-color: #0c0c0c;
    color: #fff;
    margin: 20px 0px;
    padding: 10px;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0, 100, 255, 0.25);
	-moz-box-shadow:    0px 0px 50px 0px rgba(0, 100, 255, 0.25);
	box-shadow:         0px 0px 50px 0px rgba(0, 100, 255, 0.25);
}
.nav-tabs > li > a{								
	border: none;

}
.nav-tabs > li > a:hover{						/*HOVERED TAB*/
 	background-color: #000000 !important;
    border: none;
    border-radius: 0;
    color: #fff6b7;
}
.nav-tabs > li.active > a,						/*SELECTED TAB*/
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #000000 !important;
    border: none;
    color: #fff6b7;
}



.tab-pane {
	width: 500px;
}

.title {
	text-align: center;
}

.horizontal-line {
    border-color: #1e1e1e;
	width: 50%;
}

.panels {
	margin: 0 auto;
	width: 50%;
}

.content {
	margin: 20px;
	color: #dbdbdb;
}

.done-true {
	text-decoration: line-through;
	color: grey;
}
