/*CSS File*/

body {
	padding: 10px;
}

body section {
	text-align: center;
}

.tab-pane {
	width: 500px;
}

.title {
	text-align: center;
}

.horizontal-line {
	width: 50%;
}

.panels {
	width: 50%;
}

.content {
	margin: 20px;
}

.done-true {
	text-decoration: line-through;
	color: grey;
}
